{% extends "base2.html" %}

{% block title %} CloudResource {% endblock %}
{% block title2 %} Cloud Resource Team {% endblock %}

{% block content %}

<div class="bs-example w3layouts">
					<table class="table">
						<tbody>
							<tr>
								<td><h1 id="h1.-bootstrap-heading">Zabbix Server<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
								<td class="type-info w3l"><a href="http://172.31.255.3/zabbix">click here</a></td>
							</tr>
							<tr>
								<td><h1 id="h1.-bootstrap-heading">JumpServer<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
								<td class="type-info w3l"><a href="http://172.31.255.13">click here</a></td>
							</tr>
							<tr>
								<td><h1 id="h1.-bootstrap-heading">LDAP Server<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
								<td class="type-info w3l"><a href="http://172.31.255.5:8080/">click here</a></td>
							</tr>
							<tr>
								<td><h1 id="h1.-bootstrap-heading">Tko Public Vcenter<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
								<td class="type-info w3l"><a href="http://172.18.12.21">click here</a></td>
							</tr>
							<tr>
								<td><h1 id="h1.-bootstrap-heading">Tko Private Vcenter<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
								<td class="type-info w3l"><a href="http://172.16.30.123">click here</a></td>
							</tr>
							<tr>
								<td><h1 id="h1.-bootstrap-heading">Tko Private Firewalld<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
								<td class="type-info w3l"><a href="https://172.16.35.107:8443">click here</a></td>
							</tr>
							<tr>
								<td><h1 id="h1.-bootstrap-heading">Tko OSS Firewalld<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
								<td class="type-info w3l"><a href="https://130.18.1.2">click here</a></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>

{% endblock %}