{% extends "base2.html" %}

{% block title %} IP TEAM {% endblock %}
{% block title2 %} IP TEAM {% endblock %}

{% block content %}

<div class="bs-example w3layouts">
					<table class="table">
						<tbody>
							<tr>
								<td><h1 id="h1.-bootstrap-heading">PRTG<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
								<td class="type-info w3l"><a href="http://172.31.255.85">click here</a></td>
							</tr>
							<tr>
								<td><h1 id="h1.-bootstrap-heading">ISE<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
								<td class="type-info w3l"><a href="http://130.16.2.53">click here</a></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>

{% endblock %}