<!DOCTYPE html>
<html lang="en">
<head>
<title>Mobile Team</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{{ url_for('static', filename = 'assets/css/bootstrap.css') }}" type="text/css" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename = 'assets/css/style.css') }}" type="text/css" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename = 'assets/css/font-awesome.css') }}" rel="stylesheet">		<!-- font-awesome icons -->
<!-- //Custom Theme files -->  
<!-- web-fonts -->  
<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- //web-fonts -->
</head>
<body>  
	<!-- banner -->
	<div class="agileits-banner about-w3lsbnr">
		<div class="bnr-agileinfo"> 
			<!-- navigation -->
			<div class="top-nav w3-agiletop">
				<div class="container">
					<div class="navbar-header w3llogo">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>  
						<a href="/home"><img src="{{ url_for('static', filename = 'assets/images/cugg1.png') }}" width="140px" height="80px"></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<div class="w3menu navbar-right">
							<ul class="nav navbar">
                                <li><a href="/home" class="active">Home</a></li>
								<li><a href="/cloudresource">Cloud Resource</a></li>
								<!--<li><a href="gallery.html">IP Team</a></li>-->
                                <li><a href="/noc">Noc</a></li>
                                <!--<li><a href="gallery.html">Voice Team</a></li>-->
                                <!--<li><a href="gallery.html">Mobile Team</a></li>-->
                                <li><a href="/idc">IDC</a></li>
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">Other Teams</span><span class="caret"></span></a>
									<ul class="dropdown-menu">
                                        <li><a href="/ipteam">IP Team</a></li>
										<li><a href="/voiceteam">Voice Team</a></li>
                                        <li><a href="/mobileteam">Mobile Team</a></li>
									</ul>
								</li>
								<li><a href="/about">About</a></li>
								<!--<li><a href="index.html">Home</a></li>
								<li><a href="abouts.html">About</a></li>
								<li><a href="gallery.html">Gallery</a></li>
								<li><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">Pages</span><span class="caret"></span></a>
									<ul class="dropdown-menu"> 
										<li><a href="icons.html">Web Icons</a></li>
										<li><a href="codes.html" class="active">Short Codes</a></li>
									</ul>
								</li>  
								<li><a href="contact.html">Contact</a></li>-->
							</ul>
						</div> 
						<div class="clearfix"> </div>  
					</div>
				</div>	
			</div>	
			<!-- //navigation -->
			<!-- banner-text -->
			<div class="banner-w3text about-w3lsbnr-text"> 
				<div class="container"> 
					<h2>Welcome to Mobile Team</h2>
				</div>  
			</div> 
			<!-- //banner-text -->   
		</div>
	</div>
	<!-- //banner --> 
	<!-- short codes -->
	<div class="codes">
		<div class="container">   
			<h3 class="agileits-title">If you have any enquiry, please feel free to contact us.</h3>


			<div class="grid_3 grid_5 w3-agileits w3layouts">
				<h3 class="w3ls-hdg">Progress</h3>
				<div class="tab-content">
					<div class="tab-pane active" id="domprogress">
						<div class="progress w3-agileits">
							<div class="progress-bar progress-bar-primary" style="width: 20%"></div>
						</div>
						<p>Info with <code>progress-bar-info</code> class.</p>
						<div class="progress w3-agileits">
							<div class="progress-bar progress-bar-info" style="width: 60%"></div>
						</div>
						<p>Success with <code>progress-bar-success</code> class.</p>
						<div class="progress w3-agileits">
							<div class="progress-bar progress-bar-success" style="width: 30%"></div>
						</div>
						<p>Warning with <code>progress-bar-warning</code> class.</p>
						<div class="progress w3-agileits">
							<div class="progress-bar progress-bar-warning" style="width: 70%"></div>
						</div>
						<p>Danger with <code>progress-bar-danger</code> class.</p>
						<div class="progress w3-agileits">
							<div class="progress-bar progress-bar-danger" style="width: 50%"></div>
						</div>
						<p>Inverse with <code>progress-bar-inverse</code> class.</p>
						<div class="progress w3-agileits">
							<div class="progress-bar progress-bar-inverse" style="width: 40%"></div>
						</div>
						<p>Inverse with <code>progress-bar-inverse</code> class.</p>
						<div class="progress w3-agileits">
							<div class="progress-bar progress-bar-success" style="width: 35%"><span class="sr-only">35% Complete (success)</span></div>
							<div class="progress-bar progress-bar-warning" style="width: 20%"><span class="sr-only">20% Complete (warning)</span></div>
							<div class="progress-bar progress-bar-danger" style="width: 10%"><span class="sr-only">10% Complete (danger)</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="grid_3 grid_5 w3-agileits">
				<h3 class="w3ls-hdg">Alerts</h3>
				<div class="alert alert-success agileits" role="alert">
					<strong>Well done!</strong> You successfully read this important alert message.
				</div>
				<div class="alert alert-info" role="alert">
					<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
				</div>
				<div class="alert alert-warning" role="alert">
					<strong>Warning!</strong> Best check yo self, you're not looking too good.
				</div>
				<div class="alert alert-danger" role="alert">
					<strong>Oh snap!</strong> Change a few things up and try submitting again.
				</div>
			</div>





			<div class="grid_3 grid_5 w3">
				<h3 class="w3ls-hdg">Wells</h3>
				<div class="well w3l">
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
				</div>
				<div class="well w3l">
					It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here
				</div>
				<div class="well w3l">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
				</div>
			</div>

		</div>
	</div>
	<!-- //short-codes -->  
	<!-- footer start here --> 
	<div class="footer-agile">
		<div class="container">
			<div class="footer-top-agileinfo"> 
				<div class="social-icon">
					<a href="/" class="social-button twit"><i class="fa fa-twitter"></i></a>
					<a href="/" class="social-button fb"><i class="fa fa-facebook"></i></a>
					<a href="/" class="social-button ggl"><i class="fa fa-google-plus"></i></a>
					<a href="/" class="social-button drbl"><i class="fa fa-dribbble"></i></a>
					<a href="/" class="social-button be"><i class="fa fa-behance"></i></a>
					<a href="/" class="social-button in"><i class="fa fa-linkedin"></i></a>
				</div>  	
			</div>
			<div class="footer-btm-agileinfo">
				<div class="col-md-3 col-xs-3 footer-grid">
					<h3>Useful Info</h3>
					<ul>
						<li><a href="single.html"><i class="glyphicon glyphicon-menu-right"></i>Hendrerit quam</a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-menu-right"></i>Amet consectetur </a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-menu-right"></i>Iquam hendrerit</a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-menu-right"></i>Donec ut lectus </a></li>
					</ul>
				</div> 
				<div class="col-md-3 col-xs-3 footer-grid w3social">
					<h3>Navigation</h3> 
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="abouts.html">About</a></li>
						<li><a href="gallery.html">Gallery</a></li> 
						<li><a href="contact.html">Contact</a></li>
					</ul> 
				</div> 
				<div class="col-md-6 col-xs-6 footer-grid footer-review">
					<h3>Newsletter</h3>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Your Email" required="">
						<input type="submit" value="Subscribe"> 
						<div class="clearfix"> </div>
					</form> 
					<div class="copy-w3lsright"> 
						<p>Copyright &copy; 2021.Kyle Tao All rights reserved.<a target="_blank" href="https://www.google.com.hk/maps/place/%E4%B8%AD%E5%9C%8B%E8%81%AF%E9%80%9A(%E9%A6%99%E6%B8%AF)+%E7%92%B0%E7%90%83%E4%B8%AD%E5%BF%83/@22.2830994,114.2656119,17z/data=!3m1!4b1!4m5!3m4!1s0x340403b9fa9a6e89:0xa45de175131b3f8f!8m2!3d22.2830994!4d114.2678006">Map</a></p>
					</div> 
				</div> 
				<div class="clearfix"> </div>
			</div>   
		</div>
	</div> 
	<!-- //footer end here -->    
	<!-- js -->
	<script src="{{ url_for('static', filename = 'assets/js/jquery-2.2.3.min.js') }}"></script>
	<!-- //js --> 
	<!-- start-smooth-scrolling -->
	<script src="{{ url_for('static', filename = 'assets/js/SmoothScroll.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'assets/js/move-top.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'assets/js/easing.js') }}"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	 
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->    
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename = 'assets/js/bootstrap.js') }}"></script>
</body>
</html>