{% extends "base2.html" %}

{% block title %} NOC {% endblock %}
{% block title2 %} NOC {% endblock %}

{% block content %}

<div class="bs-example w3layouts">
					<table class="table">
						<tbody>
							<tr>
								<td><h1 id="h1.-bootstrap-heading">Zabbix Server<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
								<td class="type-info w3l"><a href="http://10.120.37.120:18080">click here</a></td>
							</tr>
							<tr>
								<td><h1 id="h1.-bootstrap-heading">Tko Public Vcenter<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
								<td class="type-info w3l"><a href="http://172.18.12.21">click here</a></td>
							</tr>
							<tr>
								<td><h1 id="h1.-bootstrap-heading">Tko Private Vcenter<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
								<td class="type-info w3l"><a href="http://172.16.30.123">click here</a></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>

{% endblock %}